<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/view.css" />
</head>

<body>
<h1>file list</h1>
<ul>
  <% @files.each do |file| %>
    <li><a href="<%= file %>"><%= file %></a></li>
  <% end %>
</ul>
</body>
